.navbar {
	height: 70px;
	display: flex;
	background-color: #0d4447;
	font-size: 1.3em;
	justify-content: center;
	align-items: center;
	flex: 1 1 640px;
}

.navbar li {
	list-style-type: none;
}

.navbar a {
	padding: 10px 20px;
	color: #bdfcff;
	margin-right: 0.3em;
	text-decoration: none;
	transition: 0.3s;
}

.navbar a:hover {
	color: #00f2ff;
	background-color: #113537;
}
