.navbar {
	height: 70px;
	display: flex;
	background-color: #010212;
	font-size: 1.3em;
	justify-content: center;
	align-items: center;
	flex: 1 1 640px;
}

.navbar li {
	list-style-type: none;
}

.navbar a {
	padding: 10px 20px;
	color: #bdfcff;
	margin-right: 0.3em;
	text-decoration: none;
	transition: 0.3s;
}

.navbar a:hover {
	color: #00f2ff;
	background-color: #020743;
}

@media only screen and (min-width: 717px) {
	.navbar {
		display: flex;
		width: 50vw;
		max-width: 240px;
		padding: 10px 10px 10px 10px;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 717px) {
	.navbar {
		display: flex;
		width: 100vw;
		padding: 10px 10px 10px 10px;
		justify-content: center;
		align-items: center;
	}
}
